
body {
  margin:0px;
  font-family: 'Avenir';
}

header{
  position:fixed;
  width: 100vw;
}
.header {
  background-color: #f1f1f1;
  padding: 20px 0px;
  height:5vh;
}

.header a {
  float: right;
  text-align: center;
  padding: 12px 16px;
  margin: 0 15px;
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  border-radius: 4px;
}

div#helpTopMobile{
	padding-right: 3%;
}

.header a#flask
{
  color:#546EEB;
}

.header a#montre
{
  color:#7468D2;
}

.header a#billet
{
  color:#a75bba;
}

.header a#lettre
{
  color:#B75C97;
}

.header a#arobase
{
  color:#EC5A83;
}

.header a.Emitime {
  font-size: 25px;
  font-weight: bold;
  line-height: 0;
  text-align: center;
  float:left;
  padding-left: 5%;
}

.header a#flask:hover
{
  color:#f1f1f1;
  background-color: #546EEB;
}

.header a#montre:hover
{
  color:#f1f1f1;
  background-color: #7468D2;
}

.header a#billet:hover
{
  color:#f1f1f1;
  background-color: #a75bba;
}

.header a#lettre:hover
{
  color:#f1f1f1;
  background-color: #B75C97;
}

.header a#arobase:hover
{
  color:#f1f1f1;
  background-color: #EC5A83;
}
.header a:hover {
	background-color: #f1f1f1;
}

#home {
  background-color:red;
  width: 100vw;
  height: 100vh;
}

#emitime{
  width: 180px;
  transition-duration: 0.25s;
}

#emitime:hover{
  width: 160px;
}



.section#LeLabo {
  background-color: #4f6bf3;
  width: 100vw;
  height: 100vh;
}
.section#NosInventions {
  background-color: #ff4b82;
  width: 100%;
  height: 100vh;
}
.section#Donation {
  background-color: green;
  width: 100%;
  height: 100vh;
}
.section#Newsletter {
  background-color: orange;
  width: 100%;
  height: 100vh;
}
.section#Contact {
  background-color: purple;
  width: 100%;
  height: 100vh;
}

.logo {
    background-color: #1000ff;
    margin-right: auto;
    width: 300px;
    height: 300px;
    padding-top: 200px;
    margin-left: auto;
}

.section h2
{
    font-family:"neon80";
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 50px;
  font-size: 45px;
}

/*Burger*/
.burger {
    display: none;
    cursor: pointer;
    float:right;
    padding:10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
    
/*/Burger*/

@media screen and (max-width: 720px) {
  .header{
    position:relative;
    width:100vw;
    z-index:9999;
  }
  .header a {
    float: none;
    display: block;
    padding:25px;
    text-align: left;
  }
  .header a.Emitime{
		left: calc(50% - 100px);
	    padding: 5px;
	    position: relative;
	    z-index: 11;
    }

    .header-right {
  position:absolute;
  z-index:10;
  width:100vw;
  height:100vh;
  top:-100vh;
  background:#F1F1F1;
  float:right;
  transition: top .5s ease-in-out;
}

    .header a.Emitime:hover{
        background:#f1f1f1;
    }

    .burger {
    display: inline-block;
    z-index:10;
    position:relative;
    right: 2%;
    }

    div#helpTopMobile{
    	margin-top:20%;
    }
}

@media screen and (max-width: 400px) {
	.header a.Emitime{
		left: 5%;
    }
}
