
body {
  margin:0px;
  font-family: 'Avenir';
  overflow-x: hidden;
}

header{
  position:fixed;
  width: 100vw;
}
.header {
  background-color: #fff;
  padding: 20px 0px;
  height:5vh;
}

.header a {
  float: right;
  text-align: center;
  padding: 12px 16px;
  margin: 0 15px;
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  border-radius: 4px;
}

div#helpTopMobile{
	padding-right: 3%;
	float:right;
}

div#helpTopMobile a h3
	{
		margin-left: 10%;
    display: none;
	}

.header a#flask
{
  color:#546EEB;
}

.header a#montre
{
  color:#7468D2;
}

.header a#billet
{
  color:#a75bba;
}

.header a#lettre
{
  color:#B75C97;
}

.header a#arobase
{
  color:#EC5A83;
}

.header a.Emitime {
  font-size: 25px;
  font-weight: bold;
  line-height: 0;
  text-align: center;
  float:left;
  padding-left: 5%;
}

.header a#flask:hover
{
  color:#fff;
  background-color: #546EEB;
}

.header a#montre:hover
{
  color:#fff;
  background-color: #7468D2;
}

.header a#billet:hover
{
  color:#fff;
  background-color: #a75bba;
}

.header a#lettre:hover
{
  color:#fff;
  background-color: #B75C97;
}

.header a#arobase:hover
{
  color:#fff;
  background-color: #EC5A83;
}
.header a:hover {
	background-color: #fff;
}

a.js-scrollTo{
	float:left;
}

#home {
  background-color:white;
  width: 100vw;
  height: calc(95vh - 40px);
}

#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    margin: auto; 
    height: calc(95vh - 40px);
    pointer-events: none;
}

#emitime{
  width: 180px;
  transition-duration: 0.25s;
}

#emitime:hover{
  width: 160px;
}

.section {
	padding: 7vh 0;
}

.section#LeLabo {
  background-color: #4f6bf3;
  width: 100vw;
  min-height: 95vh;
}
.section#NosInventions {
  background-color: #ff4b82;
  width: 100%;
  min-height: 95vh;
}
.section#Donation {
  background-color: #422b57;
  width: 100%;
  min-height: 95vh;
}
.section#Newsletter {
  background-color: orange;
  width: 100%;
  min-height: 95vh;
}
.section#Contact {
  background-color: purple;
  width: 100%;
  min-height: 95vh;
}

.section h2
{
    font-family:"neon80";
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 50px;
  font-size: 45px;
}

/*Burger*/
.burger {
    display: none;
    cursor: pointer;
    float:right;
    padding: 2px 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #4f6bf3;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #ff4b82;
}

.change .bar2 {opacity: 0;background-color: #ff4b82;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #ff4b82;
}
    
/*/Burger*/

div.icon{
	background-color:white;
	padding:20px;
	width: 35px;
  height: 25px;
  margin: 0 auto;
	text-align: center;
	border-radius:20px;
}

.sizeIcon{
	font-size:25px;
}

#iconFlacon{
	color:#4f6bf3;
}

#iconMontre{
  color:#ff4b82;
}

#iconBillet{
  color:#422b57;
}

#iconLetter{
  color:orange;
}

#iconA{
  color:purple;
}
#blockIntroLabo{
  width:100vw;
}
p#introLabo{
  color:white;
  text-align:center;
  font-size:14px;
  width:66%;
  margin: 40px auto;
}

div.photoScientifique{
  background-color:white;
  padding:20px;
  width: 230px;
  height: 260px;
  margin: 0 auto;
  border-radius:20px;
  display:inline-block;
}

@media screen and (max-width: 720px) {
  .header{
    position:relative;
    width:100vw;
    z-index:9999;
    font-size:20px;
  }
  .header a {
    float: none;
    display: block;
    padding:25px;
    text-align: left;
  }
  .header a.Emitime{
		left: calc(50% - 100px);
	    padding: 5px;
	    position: relative;
	    z-index: 11;
    }

    .header-right {
  position:absolute;
  z-index:10;
  width:100vw;
  height:100vh;
  top:-500vh;
  background:#F1F1F1;
  float:right;
  transition: top .5s ease-in-out;
}

    .header a.Emitime:hover{
        background:#f1f1f1;
    }
	
	div#helpTopMobile a h3
	{
		margin-left: 10%;
    	display: inline-block;
	}

	a.js-scrollTo{
		float:none;
	}


    .burger {
    display: inline-block;
    z-index:10;
    position:relative;
    right: 2%;
    }

    div#helpTopMobile{
    	margin-top:20%;
    	float:none;
    }
}

@media screen and (max-width: 400px) {
	.header a.Emitime{
		left: 5%;
    }
}
