
body {
  margin:0px;
  font-family: 'Avenir';
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 0px;
  position:fixed;
  width:100%;
}

.header a {
  float: left;
  text-align: center;
  padding: 12px 16px;
  margin: 0 15px;
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  border-radius: 4px;
}

.header a#flask
{
  color:#546EEB;
}

.header a#montre
{
  color:#7468D2;
}

.header a#billet
{
  color:#a75bba;
}

.header a#lettre
{
  color:#B75C97;
}

.header a#arobase
{
  color:#EC5A83;
}

.header a.Emitime {
  font-size: 25px;
  font-weight: bold;
  line-height: 0;
  text-align: center;
}

.header a#flask:hover
{
  color:#f1f1f1;
  background-color: #546EEB;
}

.header a#montre:hover
{
  color:#f1f1f1;
  background-color: #7468D2;
}

.header a#billet:hover
{
  color:#f1f1f1;
  background-color: #a75bba;
}

.header a#lettre:hover
{
  color:#f1f1f1;
  background-color: #B75C97;
}

.header a#arobase:hover
{
  color:#f1f1f1;
  background-color: #EC5A83;
}
.header a:hover {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

#home {
  background-color:red;
  width: 100vw;
  height: 100vh;
}

#emitime{
  width: 180px;
  transition-duration: 0.25s;
}

#emitime:hover{
  width: 160px;
}



.section#LeLabo {
  background-color: #4f6bf3;
  width: 100vw;
  height: 100vh;
}
.section#NosInventions {
  background-color: #ff4b82;
  width: 100%;
  height: 100vh;
}
.section#Donation {
  background-color: green;
  width: 100%;
  height: 100vh;
}
.section#Newsletter {
  background-color: orange;
  width: 100%;
  height: 100vh;
}
.section#Contact {
  background-color: purple;
  width: 100%;
  height: 100vh;
}

.logo {
    background-color: #1000ff;
    margin-right: auto;
    width: 300px;
    height: 300px;
    padding-top: 25%;
    margin-left: auto;
}

.section h2
{
    font-family:"neon80";
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 50px;
  font-size: 45px;
}

@media screen and (max-width: 720px) {
  .header{
    position:relative;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
